h1(style='text-align: center;') Mindful Money Courses
h3.accented(style='text-align: center;') Money is powerful. It can both add to and detract from all areas of our lives. But human nature puts us at risk of making irrational financial choices. We want to help you develop a better relationship with money by addressing the psychological, physiological, and cultural pressures that influence our decisions.
